$color: color($grey, 800);
$background-color-lighter: #f7f7f7;
$background-color-darker: color($grey, 300);
$border-color-lighter: color($grey, 400);
$border-color-darker: color($grey, 500);
$border-radius: 3px;
