@import "common";
@import "nav";

$panel-bg-color: palette(Blue Grey, 800) !default;
$panel-focus-color: palette(Blue Grey, 900) !default;

.panel {
  position        : absolute;
  top             : 0;
  bottom          : 0;
  left            : 0;
  width           : rem(60);
  background-color: $panel-bg-color;
  @include box-shadow(true);
}

.head {
  margin: 1rem auto;
}

.user {
  display            : block;
  width              : rem(30);
  height             : rem(30);
  margin             : auto;
  cursor             : pointer;
  border-radius      : 15%;
  background-size    : cover;
  background-position: 50% 50%;
}

.navList {
  composes    : nav nav-stacked;

  padding-left: 0;
  list-style  : none;
}

.navItem {
  --nav-item-btn-color: palette(Cyan);
  --nav-item-btn-hover-color: palette(Cyan, 300);

  composes: nav-item;

  &:hover {
    cursor: pointer;
  }
}

.navItemActive {
  --nav-item-btn-color: palette(Orange);
  --nav-item-btn-hover-color: palette(Orange);

  position                 : relative;
  margin-left              : rem(10);
  border-top-left-radius   : 3px;
  border-bottom-left-radius: 3px;
  background-color         : $panel-focus-color;
  @include box-shadow;

  .navItemBtn:hover {
    cursor: default;
  }
}

.navItemBtn {
  display   : block;
  color     : var(--nav-item-btn-color);
  font-size : rem(24);
  padding   : 5px;
  text-align: center;

  &:hover {
    color: var(--nav-item-btn-hover-color);
  }
}
