@import "common";
@import "nav";

$panel-bg-color: palette(Blue Grey, 800) !default;
$panel-focus-color: palette(Blue Grey, 900) !default;

.panel {
  position        : absolute;
  top             : 0;
  bottom          : 0;
  left            : 0;
  width           : rem(60);
  background-color: $panel-bg-color;
  @include box-shadow(true);
}

.head {
  margin: 1rem auto;
}

.user {
  display            : block;
  width              : rem(30);
  height             : rem(30);
  margin             : auto;
  cursor             : pointer;
  border-radius      : 15%;
  background-size    : cover;
  background-position: 50% 50%;
}

.navList {
  composes    : nav nav-stacked;

  padding-left: 0;
  list-style  : none;
}

.navItem {
  composes: nav-item;

  &:hover {
    cursor: pointer;
  }
}

.navItemBtn {
  --nav-item-btn-color      : palette(Cyan);
  --nav-item-btn-hover-color: palette(Cyan, 100);

  display                   : block;
  color                     : var(--nav-item-btn-color);
  font-size                 : rem(24);
  padding                   : 5px;
  text-align                : center;
  @include transition;

  &:focus,
  &:hover {
    color: var(--nav-item-btn-hover-color);
  }
}

.navItemBtnActive {
  --nav-item-btn-color      : palette(Orange);
  --nav-item-btn-hover-color: palette(Orange);

  margin-left               : rem(10);
  border-radius             : 3px 0 0 3px;
  background-color          : $panel-focus-color;
  @include box-shadow;

  &:hover {
    cursor: default;
  }
}

.footer {
  position: absolute;
  bottom  : rem(10);
  width   : 100%;
}
