@import "common";

.chatContent {
  width : 100%;
  height: 100%;
}

.channelHeader {
  height       : rem(50);
  border-bottom: 1px solid palette(Grey, 400);
}

.channelName {
  line-height: rem(50);
  margin-left: rem(16);
}

.channelBody {}

.channelFooter {}
